{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
    <main id="cart-page" class="gray-text">
        <h1>Mon panier</h1>
        <section id="cart">
            <a href="{{ path('clear_cart') }}" class="gray-text__lighter">x Vider le panier</a>
            <div id="products-list">
                {% for product in cart %}
                    <article>
                        <figure>
                            <img src='{{ asset('/productImages/'~ product.product.picture) }}'>
                            <figcaption>
                                <div>
                                    <h1 class="semi-bold">{{ product.product.name }}</h1>
                                    <h2 class="gray-text__lighter regular">Quantité : {{ product.quantity }}</h2>
                                    <h3 class="gray-text medium">{{ product.product.price|format_currency('EUR', locale: 'fr_FR') }}</h3>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                {% endfor %}
                <div id="cart-amount">
                    <h2 class="gray-text medium">Total panier : <span>{{ amount|format_currency('EUR', locale: 'fr_FR') }}</span></h2>
                    <h4 class="gray-text__lighter regular">Frais de livraison : Offert</h4>
                </div>
            </div>
            <a href="{{ path('checkout') }}" class="btn btn-primary btn-primary__smaller">Valider la commande</a>
        </section>
    </main>
{% endblock %}
