{% extends 'base.html.twig' %}

{% block title %}EcoGarden{% endblock %}

{% block body %}
    <main>
        <section id="welcome-section" class="gray-text">
            <div>
                <h1>Bienvenue</h1>
                <p class="light">
                    Découvrez notre univers de produits durables et éthiques pour une consommation responsable
                </p>
                <p class="light">
                    Retrouvez des articles d’hygiène & beauté, des accessoires & boissons et du prêt
                    à porter
                </p>
            </div>
            <img src="{{ asset('images/home_banner.png') }}" alt="">
        </section>

        <section id="products-homepage">
            <h2 class="uppercase">Nos produits</h2>
            <div class="products-list">
                {% for product in products %}
                    <figure class="product-card">
                        <img src="{{ asset('/productImages/' ~ product.picture) }}" alt="{{ product.name }}">
                        <figcaption>
                            <h3 class="semi-bold">{{ product.name }}</h3>
                            <p class="short-description gray-text__lighter">
                                {% if product.shortDescription > 30 %}
                                    {{ product.shortDescription|slice(0,30) }}...
                                {% else %}
                                    {{ product.shortDescription }}
                                {% endif %}
                            </p>
                            <p class="price gray-text">{{ product.price|format_currency('EUR', locale: 'fr_FR') }}</p>
                            <a href={{ path("detail_product",{id:product.id}) }}>Voir le produit</a>
                        </figcaption>
                    </figure>
                {% endfor %}
            </div>
        </section>
        <section id="conviction-section">
            <div class="gray-text">
                <h2 class="uppercase">
                    Notre Conviction
                </h2>
                <p class="light">
                    Chez GreenGoodies, nous croyons en un monde où le commerce peut être synonyme de bien-être pour la
                    planète et ses habitants. Notre mission est de vous proposer une sélection rigoureuse de produits
                    qui allient qualité, durabilité et éthique
                </p>
            </div>
            <img src="{{ asset('images/conviction.png') }}" alt="">
        </section>
        <section id="values-section">
            <div class="gray-text">
                <h2>
                    Nos Valeurs
                </h2>
                <p class="light">
                    Durabilité : Nous sélectionnons soigneusement des produits qui respectent l'environnement et
                    favorisent la durabilité.
                    Éthique : Nous nous engageons à travailler avec des partenaires et des fournisseurs qui partagent
                    nos valeurs éthiques.
                    Écologie : Nous encourageons des pratiques respectueuses de l'écosystème et privilégions les
                    matériaux écologiques.
                </p>
            </div>
            <img src="{{ asset('images/values.png') }}" alt="">
        </section>

    </main>
{% endblock %}
