{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <main id="product-details">
        <article>
            <figure>
                <img src='{{ asset('/productImages/'~ product.picture) }}'>
                <figcaption>
                    <div><h1 class="gray-text">{{ product.name }}</h1>
                        <h2 class="gray-text light">{{ product.price|format_currency('EUR', locale: 'fr_FR') }}</h2>
                        <h3 class="gray-text__lighter">Description</h3>
                        <p class="gray-text__lighter">{{ product.fullDescription }}</p>
                    </div>
                    {% if app.user %}
                        <form action="{{ path('add_product',{"id":product.id}) }}" method="post">
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <input type="number" name="quantity" value="{{ quantity > 0 ? quantity : 1 }}" min="0">
                            {% if quantity == 0 %}
                            <button type="submit" class="btn btn-primary">Ajouter au panier</button>
                            {% else %}
                            <button type="submit" class="btn btn-primary">Mettre à jour le panier</button>
                            {% endif %}
                        </form>
                    {% else %}
                        <a href="{{ path('login') }}" class="btn btn-primary">Se connecter</a>
                    {% endif %}
                </figcaption>
            </figure>

        </article>


    </main>
{% endblock %}
