<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<header>
    <a href="{{ path('app_home') }}">
        <img src="{{ asset('/images/Logo.png') }}" alt="">
    </a>
    <nav>
        <ul class="gray-text">
            {% if app.user %}
                <li><a href="{{ path('app_home') }}#products-homepage">Nos produits</a></li>
                <li><a href="{{ path('cart') }}">Mon panier</a></li>
                <li><a href="{{ path('account') }}">Mon compte</a></li>
                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
            {% else %}

                <li><a href="{{ path('login') }}">Connexion</a></li>
                <li><a href="{{ path('signup') }}">Inscription</a></li>
            {% endif %}

        </ul>
    </nav>
</header>
{% block body %}
{% endblock %}
<footer>
    <p class="gray-text">&copy; GreenGoodies - {{ 'now'|date('Y') }}</p>
</footer>
</body>
</html>
