{% extends 'base.html.twig' %}

{% block title %}Mon compte !{% endblock %}

{% block body %}
    {% if flashMessages %}
        <div class="toast">
            Votre commande : {{ flashMessages }}
            <br> est préparée par nos soins.
        </div>
    {% endif %}
    <main id="account-page">
        <h1 class="gray-text medium">Mon compte</h1>
        <section id="orders-list">
            <h2 class="semi-bold">Mes commandes</h2>
            <table>
                <thead>
                <tr class="gray-text__lighter">
                    <th class="regular">N°</th>
                    <th class="regular">Date</th>
                    <th class="regular">Prix</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr class="gray-text">
                        <td class="medium">{{ order.id }}</td>
                        <td class="medium">{{ order.createdAt|date('d/m/Y') }}</td>
                        <td class="medium">{{ order.amount|format_currency('EUR', locale: 'fr_FR') }}</td>
                    </tr>
                {% endfor %}

                </tbody>

            </table>
        </section>
        <section id="account-links-container">
            <div>
                <h2 class="semi-bold">Mon accès API</h2>
                <a href="{{ path('toggle_api') }}" class="btn btn-primary">
                    {% if  app.user.isApiAccess %}
                        Désactiver
                    {% else %}
                        Activer
                    {% endif %}
                    mon accès API
                </a>
            </div>
            <div>
                <a href="{{ path('delete_account') }}" class="btn btn-primary">
                    Supprimer mon compte
                </a>
            </div>
        </section>

    </main>
{% endblock %}
