{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <main>
        <h1>Mon compte</h1>
        <section id="orders-list">
            <h2>Mes commandes</h2>
            <ul>
                <li>
                    <span>N°</span>
                    <span>Date</span>
                    <span>Prix</span>
                </li>
                {% for order in orders %}
                    <li>
                        <span>{{ order.id }}</span>
                        <span>{{ order.createdAt|date('d/m/Y') }}</span>
                        <span>{{ order.amount }} €</span>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <div>
            <h2>Mon accès API</h2>
            <a href="{{ path('toggle_api') }}">
                {% if  app.user.isApiAccess %}
                    Désactiver
                {% else %}
                    Activer
                {% endif %}
                mon accès API
            </a>
        </div>
        <div>
            <h2>Mon accès API</h2>
            <a href="{{ path('delete_account') }}">
                Supprimer mon compte
            </a>
        </div>
    </main>
{% endblock %}
