{% extends 'base.html.twig' %}

{% block title %}Rejoignez nous ! Green Goodies{% endblock %}

{% block body %}
    <main id="signup-page">
        {% if app.flashes('error') %}
            <div class="toast toast-error">
                Formulaire incorrect
            </div>
        {% endif %}
        <img src="{{ asset('/images/signup.webp') }}" alt="">
        <section>
            <h1>Inscription</h1>
            <h2 class="gray-text__lighter">Tous les champs sont obligatoires</h2>
            {{ form_start(form, {
                'attr': {'class': 'signup-form'}
            }) }}
            <div>
                {{ form_label(form.lastname) }}
                {{ form_widget(form.lastname) }}
                {% if form.lastname.vars.errors|length > 0 %}
                    <div class="invalid-feedback">
                        {{ form_errors(form.lastname) }}
                    </div>
                {% endif %}
            </div>

            <div>
                {{ form_label(form.firstname) }}
                {{ form_widget(form.firstname) }}
                {% if form.firstname.vars.errors|length > 0 %}
                    <div class="invalid-feedback">
                        {{ form_errors(form.firstname) }}
                    </div>
                {% endif %}
            </div>
            <div>
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                {% if form.email.vars.errors|length > 0 %}
                    <div class="invalid-feedback">
                        {{ form_errors(form.email) }}
                    </div>
                {% endif %}

            </div>
            <div>
                {{ form_label(form.password.first) }}
                {{ form_widget(form.password.first) }}
                {% if form.password.first.vars.errors|length > 0 %}
                    <div class="invalid-feedback">
                        {{ form_errors(form.password.first) }}
                    </div>
                {% endif %}
            </div>

            <div>
                {{ form_label(form.password.second) }}
                {{ form_widget(form.password.second) }}
                {# Ne pas afficher les erreurs ici, elles sont déjà affichées pour le premier champ #}
            </div>
            <div class="cgu-checkbox">
                {{ form_label(form.CGU) }}
                {{ form_widget(form.CGU) }}
                {% if form.CGU.vars.errors|length > 0 %}
                    <div class="invalid-feedback">
                        {{ form_errors(form.CGU) }}
                    </div>
                {% endif %}
            </div>

            {{ form_widget(form.button) }}
            {{ form_end(form) }}
            <a href="{{ path('login') }}" class="gray-text__lighter underline">Déjà un compte ? Connectez-vous</a>
        </section>
    </main>

    <style>
        .invalid-feedback {
            display: block;
            color: red;
            font-size: 0.875em;
        }
    </style>
{% endblock %}
